# dependencies
/node_modules
node_modules

# build output
/build
/dist

# system files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing coverage
/coverage

# editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# parcel-bundler cache
.cache

# optional lock files (you may keep one)
package-lock.json
yarn.lock
pnpm-lock.yaml

# firebase cache
.firebase/

# next.js
.next/

# vercel
.vercel/

# storybook
.out/
.storybook-out/

# Mac
*.DS_Store
